# Project Housing Price

## Part 2: Data cleaning

In [1]:
# Step 1: import your library
import pandas as pd

In [2]:
# Step 2: load the combined CSV
df = pd.read_csv("housing_data.csv")
df

c:\users\hslim\appdata\local\programs\python\python38-32\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,year,real_month,remaining_lease
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0,1990,1,86
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0,1990,1,86
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0,1990,1,86
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0,1990,1,86
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,1990,1,85
...,...,...,...,...,...,...,...,...,...,...,...,...,...
846103,2021-06,YISHUN,5 ROOM,511B,YISHUN ST 51,07 TO 09,113.0,Improved,2017,593000.0,2021,6,95 years 03 months
846104,2021-06,YISHUN,5 ROOM,505D,YISHUN ST 51,10 TO 12,113.0,Improved,2016,580000.0,2021,6,93 years 10 months
846105,2021-06,YISHUN,EXECUTIVE,664,YISHUN AVE 4,01 TO 03,181.0,Apartment,1992,868000.0,2021,6,69 years 11 months
846106,2021-06,YISHUN,EXECUTIVE,277,YISHUN ST 22,01 TO 03,152.0,Maisonette,1985,585000.0,2021,6,63 years 03 months
846107,2021-06,YISHUN,EXECUTIVE,828,YISHUN ST 81,04 TO 06,146.0,Maisonette,1988,715000.0,2021,6,65 years 08 months

In [3]:
# Step 3: Sum up the total number of missing values (NA) in each column
df.isnull().sum()

month                  0
town                   0
flat_type              0
block                  0
street_name            0
storey_range           0
floor_area_sqm         0
flat_model             0
lease_commence_date    0
resale_price           0
year                   0
real_month             0
remaining_lease        0
dtype: int64

In [4]:
# Step 4: Get the frequency counts of "town"
df['town'].value_counts()

TAMPINES           74538
YISHUN             64387
BEDOK              62499
JURONG WEST        61761
WOODLANDS          59770
ANG MO KIO         49007
HOUGANG            46491
BUKIT BATOK        40936
CHOA CHU KANG      34265
BUKIT MERAH        31291
PASIR RIS          30935
TOA PAYOH          29150
QUEENSTOWN         26602
CLEMENTI           26241
GEYLANG            26201
SENGKANG           25762
BUKIT PANJANG      25035
KALLANG/WHAMPOA    24576
JURONG EAST        23268
SERANGOON          21491
BISHAN             19970
PUNGGOL            14175
SEMBAWANG          11316
MARINE PARADE       7521
CENTRAL AREA        6513
BUKIT TIMAH         2343
LIM CHU KANG          64
Name: town, dtype: int64

In [5]:
# Step 5: Get the frequency counts of "flat_type"
df['flat_type'].value_counts()

4 ROOM              317560
3 ROOM              276751
5 ROOM              175645
EXECUTIVE            64227
2 ROOM               10125
1 ROOM                1284
MULTI GENERATION       279
MULTI-GENERATION       237
Name: flat_type, dtype: int64

In [6]:
# Step 6a: Replace "MULTI-GENERATION" with "MULTI GENERATION"
df['flat_type'] = df['flat_type'].str.replace('-', ' ')

# Step 6b: Get the frequency counts of "flat_type" again after replacing the string in the column
df['flat_type'].value_counts()

4 ROOM              317560
3 ROOM              276751
5 ROOM              175645
EXECUTIVE            64227
2 ROOM               10125
1 ROOM                1284
MULTI GENERATION       516
Name: flat_type, dtype: int64

In [7]:
# Step 7: Get the frequency counts of "flat_model"
df['flat_model'].value_counts()

Model A                   164446
Improved                  148683
New Generation            100867
NEW GENERATION             78898
IMPROVED                   73589
MODEL A                    70381
Premium Apartment          37488
Simplified                 31355
SIMPLIFIED                 23258
Standard                   23049
Apartment                  22890
STANDARD                   17375
Maisonette                 15321
MAISONETTE                 12215
APARTMENT                   9901
Model A2                    9278
DBSS                        2114
Adjoined flat               1122
MODEL A-MAISONETTE           982
Model A-Maisonette           949
Terrace                      409
Type S1                      309
MULTI GENERATION             279
TERRACE                      247
Multi Generation             237
Type S2                      153
Premium Maisonette            83
Improved-Maisonette           72
Premium Apartment Loft        65
IMPROVED-MAISONETTE           44
2-room                        22
2-ROOM                        21
PREMIUM APARTMENT              6
Name: flat_model, dtype: int64

In [8]:
# Step 8a: Turn everything in "flat_model" to be in uppercase
df['flat_model'] = df['flat_model'].str.upper()

# Step 8b: Get the frequency counts of "flat_model" again to see if you fixed the problem
df['flat_model'].value_counts()

MODEL A                   234827
IMPROVED                  222272
NEW GENERATION            179765
SIMPLIFIED                 54613
STANDARD                   40424
PREMIUM APARTMENT          37494
APARTMENT                  32791
MAISONETTE                 27536
MODEL A2                    9278
DBSS                        2114
MODEL A-MAISONETTE          1931
ADJOINED FLAT               1122
TERRACE                      656
MULTI GENERATION             516
TYPE S1                      309
TYPE S2                      153
IMPROVED-MAISONETTE          116
PREMIUM MAISONETTE            83
PREMIUM APARTMENT LOFT        65
2-ROOM                        43
Name: flat_model, dtype: int64

In [9]:
# Step 10: Remove strings from "remaining_lease"

def convert_to_int(name):
    if isinstance(name, str):
          return int(name[:2])
    else:
        return name;

df['remaining_lease'] = df['remaining_lease'].apply(convert_to_int)
df['remaining_lease'].value_counts()

94     46585
95     41988
93     35247
85     33682
86     33666
88     32935
89     32910
87     32594
90     30988
84     30921
92     29627
91     29346
83     29264
82     28363
81     27598
80     26561
79     26530
78     25486
77     23296
76     22118
75     20511
74     19253
73     17221
72     16133
71     15209
70     13931
69     12947
68     12740
67     12366
66     11321
65     10082
64      8775
96      7859
63      7858
62      6102
61      5303
60      4802
59      4290
58      3882
57      3344
56      2870
55      2005
54      1565
53      1151
52      1068
51       700
50       650
49       542
48       489
97       468
47       287
98       209
46       180
45       114
99       100
100       47
44        25
101        4
Name: remaining_lease, dtype: int64

In [10]:
# Step 11a: Check your "remaining_lease" conversion by sampling your DataFrame a few times
df.sample(50)

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,year,real_month,remaining_lease
641964,2011-06,HOUGANG,5 ROOM,978D,BUANGKOK CRES,07 TO 09,110.0,IMPROVED,2003,466000.0,2011,6,91
43574,1993-04,BUKIT PANJANG,4 ROOM,207,PETIR RD,10 TO 12,84.0,SIMPLIFIED,1988,68000.0,1993,4,94
36664,1992-10,JURONG WEST,4 ROOM,217,BOON LAY AVE,04 TO 06,87.0,IMPROVED,1975,51000.0,1992,10,82
823945,2020-08,YISHUN,3 ROOM,334A,YISHUN ST 31,07 TO 09,67.0,MODEL A,2015,328000.0,2020,8,94
412117,2003-08,BEDOK,4 ROOM,132,BEDOK RESERVOIR RD,07 TO 09,103.0,MODEL A,1987,249000.0,2003,8,83
756528,2017-07,GEYLANG,3 ROOM,33,EUNOS CRES,10 TO 12,60.0,MODEL A,2007,468000.0,2017,7,88
413053,2003-08,JURONG WEST,4 ROOM,904,JURONG WEST ST 91,01 TO 03,103.0,MODEL A,1988,167000.0,2003,8,84
782681,2018-09,TOA PAYOH,4 ROOM,227,LOR 8 TOA PAYOH,04 TO 06,82.0,IMPROVED,1976,320000.0,2018,9,56
498773,2006-07,BUKIT PANJANG,EXECUTIVE,422,FAJAR RD,07 TO 09,146.0,MAISONETTE,1988,308000.0,2006,7,81
475660,2005-09,HOUGANG,4 ROOM,698A,HOUGANG ST 61,01 TO 03,100.0,MODEL A,1999,237000.0,2005,9,93
811595,2020-01,QUEENSTOWN,3 ROOM,90,C'WEALTH DR,10 TO 12,60.0,STANDARD,1967,220000.0,2020,1,46
627844,2010-11,CLEMENTI,3 ROOM,508,WEST COAST DR,01 TO 03,67.0,NEW GENERATION,1978,267000.0,2010,11,67
317961,2000-11,PASIR RIS,5 ROOM,741,PASIR RIS ST 71,13 TO 15,127.0,IMPROVED,1996,375500.0,2000,11,95
407116,2003-05,WOODLANDS,4 ROOM,364,WOODLANDS AVE 5,07 TO 09,105.0,MODEL A,1996,235000.0,2003,5,92
609058,2010-05,GEYLANG,5 ROOM,22,EUNOS CRES,13 TO 15,123.0,STANDARD,1977,425000.0,2010,5,66
266599,1999-07,SERANGOON,4 ROOM,531,SERANGOON NTH AVE 4,04 TO 06,110.0,MODEL A,1992,271000.0,1999,7,92
422786,2003-12,BUKIT MERAH,3 ROOM,22,TELOK BLANGAH CRES,13 TO 15,70.0,IMPROVED,1975,190000.0,2003,12,71
556634,2008-08,YISHUN,4 ROOM,660,YISHUN AVE 4,07 TO 09,84.0,SIMPLIFIED,1987,240000.0,2008,8,78
540399,2008-01,SENGKANG,EXECUTIVE,225C,COMPASSVALE WALK,07 TO 09,139.0,APARTMENT,1999,430000.0,2008,1,90
780118,2018-08,PUNGGOL,4 ROOM,210B,PUNGGOL PL,13 TO 15,92.0,MODEL A,2014,487888.0,2018,8,95
90640,1995-04,JURONG WEST,4 ROOM,976,JURONG WEST ST 93,01 TO 03,104.0,MODEL A,1989,187000.0,1995,4,93
718960,2015-07,TAMPINES,5 ROOM,106,SIMEI ST 1,04 TO 06,128.0,IMPROVED,1988,566000.0,2015,7,72
188820,1998-04,BEDOK,4 ROOM,141,BEDOK RESERVOIR RD,13 TO 15,84.0,SIMPLIFIED,1986,228000.0,1998,4,87
549078,2008-05,SENGKANG,5 ROOM,203C,COMPASSVALE RD,01 TO 03,110.0,IMPROVED,2001,333000.0,2008,5,92
424683,2003-12,WOODLANDS,3 ROOM,152,WOODLANDS ST 13,04 TO 06,73.0,MODEL A,1985,175000.0,2003,12,81
636454,2011-03,PUNGGOL,5 ROOM,642C,PUNGGOL DR,04 TO 06,111.0,PREMIUM APARTMENT,2005,485000.0,2011,3,93
382176,2002-08,BEDOK,3 ROOM,619,BEDOK RESERVOIR RD,07 TO 09,82.0,NEW GENERATION,1981,176000.0,2002,8,78
286631,1999-12,TAMPINES,5 ROOM,382,TAMPINES ST 32,07 TO 09,126.0,IMPROVED,1993,383000.0,1999,12,93
718400,2015-07,JURONG EAST,EXECUTIVE,327,JURONG EAST ST 31,07 TO 09,141.0,APARTMENT,1985,648000.0,2015,7,68
2177,1990-02,QUEENSTOWN,3 ROOM,20,DOVER CRES,01 TO 03,65.0,IMPROVED,1978,40000.0,1990,2,87
447471,2004-10,BUKIT PANJANG,4 ROOM,520,JELAPANG RD,01 TO 03,103.0,MODEL A,1998,235000.0,2004,10,93
610159,2010-05,SERANGOON,5 ROOM,529,SERANGOON NTH AVE 4,01 TO 03,122.0,IMPROVED,1992,405000.0,2010,5,81
229617,1999-01,ANG MO KIO,3 ROOM,178,ANG MO KIO AVE 4,07 TO 09,68.0,NEW GENERATION,1981,143000.0,1999,1,81
275054,1999-09,HOUGANG,5 ROOM,408,HOUGANG AVE 10,04 TO 06,121.0,IMPROVED,1986,355000.0,1999,9,86
304857,2000-07,JURONG WEST,4 ROOM,413,JURONG WEST ST 42,07 TO 09,105.0,MODEL A,1984,233000.0,2000,7,83
69112,1994-05,CLEMENTI,4 ROOM,310,CLEMENTI AVE 4,07 TO 09,92.0,NEW GENERATION,1980,190000.0,1994,5,85
384549,2002-08,WOODLANDS,EXECUTIVE,893C,WOODLANDS DR 50,07 TO 09,140.0,APARTMENT,1996,396000.0,2002,8,93
209412,1998-09,BEDOK,4 ROOM,36,BEDOK STH AVE 2,07 TO 09,84.0,IMPROVED,1977,205000.0,1998,9,78
781216,2018-09,BISHAN,5 ROOM,310,SHUNFU RD,10 TO 12,121.0,IMPROVED,1984,711000.0,2018,9,65
110753,1995-12,TAMPINES,3 ROOM,209,TAMPINES ST 21,01 TO 03,79.0,MODEL A,1982,153000.0,1995,12,86
830860,2020-11,TAMPINES,3 ROOM,519C,TAMPINES CTRL 8,04 TO 06,62.0,DBSS,2014,475000.0,2020,11,92
799247,2019-07,CLEMENTI,3 ROOM,362,CLEMENTI AVE 2,01 TO 03,67.0,NEW GENERATION,1978,290000.0,2019,7,57
179302,1998-01,CHOA CHU KANG,5 ROOM,427,CHOA CHU KANG AVE 4,07 TO 09,132.0,MODEL A,1992,385000.0,1998,1,93
472032,2005-07,YISHUN,3 ROOM,796A,YISHUN RING RD,04 TO 06,64.0,SIMPLIFIED,1986,148000.0,2005,7,80
342068,2001-07,JURONG WEST,5 ROOM,845,JURONG WEST ST 81,07 TO 09,128.0,IMPROVED,1996,294000.0,2001,7,94
228815,1998-12,WOODLANDS,4 ROOM,843,WOODLANDS ST 82,01 TO 03,104.0,MODEL A,1994,215000.0,1998,12,95
214467,1998-10,BEDOK,4 ROOM,105,BEDOK RESERVOIR RD,10 TO 12,93.0,NEW GENERATION,1985,236000.0,1998,10,86
829237,2020-11,BISHAN,4 ROOM,140,BISHAN ST 12,04 TO 06,103.0,MODEL A,1988,582000.0,2020,11,66
140131,1996-10,TAMPINES,4 ROOM,854,TAMPINES ST 82,10 TO 12,104.0,MODEL A,1985,361000.0,1996,10,88
594929,2009-12,JURONG EAST,3 ROOM,33,TEBAN GDNS RD,01 TO 03,74.0,IMPROVED,1977,222000.0,2009,12,67

In [11]:
# Step 11b: Get the minimum value in the remaining_lease column
df['remaining_lease'].min()

44

In [12]:
# Step 12: Get frequency count of 'street_name'
df['street_name'].value_counts()

YISHUN RING RD        16421
BEDOK RESERVOIR RD    13927
ANG MO KIO AVE 10     13097
ANG MO KIO AVE 3      11558
HOUGANG AVE 8          8783
                      ...
GEYLANG EAST AVE 2       13
SEMBAWANG WAY            11
JURONG WEST CTRL 3        9
OUTRAM HILL               9
MARINE PARADE CTRL        2
Name: street_name, Length: 572, dtype: int64

In [13]:
# Step 13: Get frequency counts of 'storey_range'
df['storey_range'].value_counts()

04 TO 06    214186
07 TO 09    193106
01 TO 03    172376
10 TO 12    163741
13 TO 15     54150
16 TO 18     20411
19 TO 21      9839
22 TO 24      6362
25 TO 27      2724
01 TO 05      2700
06 TO 10      2474
11 TO 15      1259
28 TO 30      1155
31 TO 33       338
34 TO 36       333
37 TO 39       320
16 TO 20       265
40 TO 42       157
21 TO 25        92
26 TO 30        39
43 TO 45        31
46 TO 48        30
49 TO 51        11
36 TO 40         7
31 TO 35         2
Name: storey_range, dtype: int64

In [14]:
# Step 14: Export DataFrame as CSV
df.to_csv('housing_data_cleaned.csv', index = None)